# venv
.venv/
venv/

# python
__pycache__/
*.pyc

# jupyter
.ipynb_checkpoints/

# outputs (generated)
outputs/*
!outputs/.gitkeep
!outputs/model.joblib
!outputs/confusion_matrix.png

# editor
.vscode/

# OS
.DS_Store
